# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [1]:
"python"[::-1]

'nohtyp'

# 2. Define variables `apples` and `oranges` and using `format` methos print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [7]:
x='apple'
y='oranges'
.format(x,y)

SyntaxError: invalid syntax (<ipython-input-7-9036d500b39c>, line 3)

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [35]:
my_list=('a', 'b', 'c', 'd')
"".join(my_list)
print(my_list)

('a', 'b', 'c', 'd')

# 4. Get difference betweet two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [40]:
list1=set([1, 2, 3, 4, 8, 12])
list2=set([1, 4, 8, 2])
list1.difference(list2)

{3, 12}

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [44]:
tuple_numbers = (4, 6, 2, 8, 3, 1)
tuple_numbers = tuple_numbers + (999,)
print(tuple_numbers)

(4, 6, 2, 8, 3, 1, 999)

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [51]:
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
st = ' '.join(input_tuple)
type(st)

str

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

# 9. Remove item(s) from set. Can you gess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

# BONUS: test whether every element of first set is in second set ans vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```