# W5 - Python conditions and loops assignment

# 1. Using for loop, create nested list from dictionary, see example
```python
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}
fruits_list = [['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]
```

# 2. Select the shortest element from the list
```python
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = 'kiwi'
```

In [4]:
sports = ['swimming','run','skiing','yoga']
min(sports)

'run'

# 3. Using loops and conditions, count occurrence of numbers, letters and other symbols in the string
Example
```python
'''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.'''
Number occurence: 12
Letter occurence: 158
Other symbols: 66
```

# 4. Calculate dog's age in human years using [this article](https://pets.webmd.com/dogs/how-to-calculate-your-dogs-age)
*Note: for simplicity, use values for medium dogs*

# 5. Count the number of even and odd numbers from a series of numbers.
```python
seq = [1,44,30,15,2,18]
```
Odd numbers: 2
Even numbers: 4

# 6. Using loops, print following pattern
```
*
**
***
****
```

# 7. Using list comprehensions, transform all vowels within the string to upper case

example `python -> pYthOn`

# 8. Print position number of the letter
1. Ask user to type letter (just one)
2. Print position of the letter in the alphabet

Example
```
Type letter: B
Letter B position is 2.
```

# 9. Find the median of three values (do not used median function)
Ask user to input 3 values
Example
```
Type number:5
Type number:12
Type number:6

Median value is 5.
```

# 10. Using `break` and `continue` statements, print numbers
1. Ask user for their favourite number 
2. If youser chose number 13, ask user for another number
3. Do not print number 13
4. Finish printing after user's favourite number

# BONUS: Using nested loops, print first letter of your name:

```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```